body {
    font-family: 'Arial', sans-serif;
    background: url('litratos/background-pattern.png') repeat;
    background-size: contain;
}

header {
    background-color: #843b0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo img {
    height: 50px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.50);
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    padding: 9px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
    background-color: #ffbb00;
    box-shadow: 0 0 15px 5px #ffd000;
    transform: scale(1.50);
}

    /* body */

.recipe-section {
    background: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 100px 20px;
    margin: 0px auto;
    width: 80%;
}

.recipe-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.adobo {
    height: 340px;
    transition: transform 0.3s;
}

.adobo:hover {
    transform: scale(1.25);
}

.mainheader {
    margin: 40px;
    font-family: 'Elephant';
    font-size: 50px;
    color: #ffffff;
    border-right: 4px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(14) infinite alternate,
        blinkCursor 0.7s step-end infinite;
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 14ch; }
}

.recipe-description {

    margin-left: 120px;
    margin-right: 120px;
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    margin-bottom: 40px;
}

.ingredients-procedure {
    display: flex;
    gap: 10px;
}

.ingredients, .procedure {    
    line-height: 2;
    text-align: left;
    margin: 20px;
    padding: 30px;
    width: 400px;
    height: 500px;
    background-color: #00000033;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    transition: box-shadow 0.3s, transform 0.3s;
}

.ingredients:hover, .procedure:hover {
    box-shadow: 0 0 15px 5px #ffffff;
    transform: scale(1.40);
}

.nutrition-chart {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nutrition-table {
    background-color: #000000;
    width: 400px;
    border: 5px solid rgb(0, 0, 0);
}

.table-content {
    line-height: 1.8;
    border-collapse: collapse;
}

.table-size {
width: 1000px;
background-color: #ffffff;
font-weight: 900;
}

.nutrient-1 {
    background-color: #000000;
    color: #ffffff;
    transition: box-shadow 0.3s, transform 0.3s;
}

.nutrient-2 {
    background-color: #ffffff;
    color: #000000;
    transition: box-shadow 0.3s, transform 0.3s;
}

.nutrient-1:hover, .nutrient-2:hover {
    transform: scale(1.20);
}

.back-button {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.back-to-recipe {
    margin-top: 70px;
    width: 200px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    background-color: #843b0c;
    text-align: center;
    border-radius: 10px;

}

.back-to-recipe:hover{
    box-shadow: 0 0 15px 5px #ffffff;
    transform: scale(1.20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}