body {
    font-family: 'Arial', sans-serif;
    background: url('litratos/background-pattern.png') repeat;
    background-size: contain;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #843b0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo img {
    height: 50px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

nav a {
    border-right: 2px solid #ffffff4f;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: color 0.3s;
    padding-right: 15px;
    margin-right: 10px;
}


nav a:hover {
    color: #843b0c;
    background-color: #ffba52;
    box-shadow: 0 0 15px 5px #ffba52;
    color: #ffffff;
}

.menu-welcome {
    font-family: 'Elephant';
    font-size: 50px;
    color: #ffffff;
    border-right: 4px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation:
        typing 2s steps(11) infinite alternate,
        blinkCursor 0.7s step-end infinite;
}

.welcome-section {
    background: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 100px 20px;
    margin: 0 auto;
    width: 80%;
}

.welcome-content h1 {
    font-size: 48px;
    color: #ffffff;
    font-family: 'Elephant';
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}

.major-islands {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
}

.wrapper {
    margin: 6px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
    position: relative;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.content:hover {
    opacity: 1;
}

.content p {
    font-family: 'Times New Roman';
    font-size: 18px;
    color: #ffffff;
    margin: 15px;
}

@keyframes typing {
    from { width: 0; }
    to { width: 14ch; }
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}

.credits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #843b0c;
}

.names {
    padding: 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.menu-button {
    display: none;
    cursor: pointer;
}

.menu-button img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        transition: transform 0.3s;
    }

    .menu-button:hover {
        transform: scale(1.5);
}

    #navbar-links {
        display: none;
        position: absolute;
        right: 0;
        background-color: #9e4d1f;
        width: 100%;
        flex-direction: column;
        padding: 10px 0;
        z-index: 100;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    #navbar-links.active {
        display: flex;
    }

    #navbar-links a {
        margin: 10px 20px;
        padding: 5px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    nav a {
    border-right: 2px solid #9e4d1f;
    gap: 9px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.3s;
    }
    
    .welcome-section {
        padding-top: 30px;
    }

    .menu-welcome {
    font-family: 'Elephant';
    font-size: 30px;
    color: #ffffff;
    border-right: 4px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation:
        typing 2s steps(11) infinite alternate,
        blinkCursor 0.7s step-end infinite;
}


    .major-islands {
        padding-top: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .wrapper {
        width: 230px;
    }

}