* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('litratos/background-pattern.png') repeat;
    background-size: contain;
}

header {
    background-color: #843b0c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav {
    display: flex;
    gap: 30px;
}

.logo img {
    height: 50px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.5);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;

}

nav a {
    border-right: 2px solid #ffffff4f;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
    transition: color 0.3s;
    padding-right: 15px;
    margin-right: 10px;
}


nav a:hover {
    color: #843b0c;
    background-color: #ffba52;
    box-shadow: 0 0 15px 5px #ffba52;
    color: #ffffff;
}


.welcome-section {
    background: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 100px 20px;
    margin: 0 auto;
    width: 100%;
}


.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.welcome-content h1,
.mainheader {
    font-family: 'Elephant';
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    border-right: 4px solid #ffffff;
    white-space: nowrap;
    animation:
        typing 2s steps(12) infinite alternate,
        blinkCursor 0.7s step-end infinite;
}

@keyframes blinkCursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 24ch; }
}

    .recipe { 
        border: 2px solid #a8a8a8; 
        padding: 30px; 
        margin-bottom: 10px; 
    }

    img { 
        max-width: 200px; 
        margin-top: 10px; 
    }

    #editModal {
      display: none;
      position: fixed; top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center; 
      align-items: center;
    }

    #editModal.active { 
        display: flex; 
    }

    #editModal > div {
      background: white; padding: 20px; border-radius: 10px;
      width: 90%; max-width: 400px;
    }
    
   #recipesContainer {
      text-align: center;
    } 

#authButtons {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e07334;
    padding-inline: 90px;
    margin-bottom: 40px;
}

.profile-button {
    font-size: 20px;
    padding: 10px;
    background-color: #9e4d1f;
    color: #ffffff;
    transition: transform 0.3s;
    cursor: pointer;
}

.profile-button:hover {
    transform: scale(1.5);
}

.timeline {
    background-color: #ffffff;
    margin: 10px;
    width: 500px;
    padding: 60px;
}

.credits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #843b0c;
    margin-bottom: 0;
    padding-bottom: 0;
}


.names {
    padding: 30px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
    
.menu-button {
    display: none;
    cursor: pointer;
}

.menu-button img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1115px) {

    .logo img {
        width: 150px;
        height: auto;
    }

    .menu-button {
        display: block;
        transition: transform 0.3s;
    }

    .menu-button:hover {
        transform: scale(1.5);
}

    .welcome-section {
        width: 90%;
    }

    .welcome-content h1 {
        font-size: 17px;
    }

    .welcome-content p {
        font-size: 13px;
    }

    .timeline {
    background-color: #ffffff;
    margin: 10px;
    padding: 60px;
}

    #navbar-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #9e4d1f;
        width: 100%;
        flex-direction: column;
        padding: 10px 0;
        z-index: 100;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    #navbar-links.active {
        display: flex;
    }

    #navbar-links a {
        margin: 10px 20px;
        padding: 5px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    nav a {
    border-right: 2px solid #9e4d1f;
    gap: 9px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: color 0.3s;
}

.recipe {
    text-align: center;
}

.recipe img { 
        max-width: 140px; 
        margin-top: 10px;
        transition: transform 0.3s;
    }

.recipe img:hover {
            transform: scale(1.5);
}

#authButtons {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e07334;
    padding-inline: 100% auto;
    margin-inline: 10px;
    margin-bottom: 40px;
}

.timeline {
    background-color: #ffffff;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
            box-shadow: 5px 5px 2px 2px #00000054;
}
}