
body {
    font-family: 'Arial', sans-serif;
    background: url('background-pattern.png') repeat;
    background-size: contain;
}

header {
    background-color: #843b0c; /* brown color similar to screenshot */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;

}

.welcome-section {
    background: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 100px 20px;
    margin: 0px auto;
    width: 80%;
}

.welcome-content h1 {
    font-size: 48px;
    color: #ffffff;
    font-family: 'Elephant';
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}

.center-logo {
    width: 200px;
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
